<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div th:insert="~{fragment :: locale}"></div>
<form th:action="@{/users}" enctype="multipart/form-data" method="post" th:object="${user}">
    <label for="username"> <span th:text="#{login.username}">Username:</span>
        <input id="username" type="text" name="username" th:value="*{username}">
    </label><br>
    <label for="password"> <span th:text="#{login.password}">Password:</span>
        <input id="password" type="password" name="password">
    </label><br>
    <label for="firstname"> <span th:text="#{user.firstname}">Firstname:</span>
        <input id="firstname" type="text" name="firstname" th:value="*{firstname}">
    </label><br>
    <label for="lastname"> <span th:text="#{user.lastname}">Lastname:</span>
        <input id="lastname" type="text" name="lastname" th:value="*{lastname}">
    </label><br>
    <label for="birthdate"> <span th:text="#{user.birthdate}">Birthdate:</span>
        <input id="birthdate" type="date" name="birthdate" th:value="*{birthdate}">
    </label><br>
    <label for="image"><span th:text="#{user.image}">Image:</span>
        <input id="image" type="file" name="image">
    </label><br>
    <div th:each=" role : ${roles}">
        <input id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.role}">
        <label th:for="${role}" th:text="${role}">Role name</label>
    </div>
    <div>
        <label for="company">Company:
            <select id="company" name="companyId">
                <option th:each="company : ${companies}"
                        th:value="${company.id()}"
                        th:selected="${company.id() == user.companyId}"
                        th:text="${company.name()}">Company</option>
            </select>
        </label>
    </div>
    <button type="submit"><span th:text="#{user.register}">Register</span></button>
</form>

<div th:if="${errors}">
<p style="color : red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Errors</p>
</div>
</body>
</html>